
@model IEnumerable<tableStructure>
@{
    ViewData["Title"] = "Tables";
}

<h2>Tables</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (tableStructure table in Model)
{
<h3>
    @Html.DisplayFor(modelItem => table.id)
    @Html.DisplayFor(modelItem => table.name)
</h3>
    @Html.ActionLink("Edit", "Table", new { id = table.id })
    <table class="table">
        <thead>
            @foreach (var field in table.fields)
            {
                <th>
                    @Html.DisplayFor(modelItem => field.name)
                </th>
            }
        </thead>
        <tbody>
            @foreach (var row in table.rows)
            {
                <tr>
                    @foreach (var r in row) // key: quantity value: 5
                    {
                        <td>
                            @Html.DisplayFor(modelItem => r.Value)
                        </td>
                    }
                    <td>
                        @Html.ActionLink("Edit", "Table", new { /*id = item.PrimaryKey*/ })
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
